<div class="container">
	<div class="right-container">
		<div class="login-bg"></div>
	</div>
	<div class="left-container">
		<img src="assets/images/cactus.png" alt="logo" class="logo" />
	</div>
</div>

<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" formControlName="username" />
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" formControlName="password" />
	</div>
	<button type="submit" class="btn btn-primary">Login</button>
</form> -->
