<div class="container">
	<div class="card-container">
		<div class="card">
			<img class="logo" src="assets/images/facebook.png" alt="logo" />
			<div class="view-card">
				<img class="type" src="assets/images/eye.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
			<div class="view-card">
				<img class="type" src="assets/images/like.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
			<div class="view-card">
				<img class="type" src="assets/images/sub.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
		</div>
		<div class="card">
			<img class="logo" src="assets/images/twitter.png" alt="logo" />
			<div class="view-card">
				<img class="type" src="assets/images/eye.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
			<div class="view-card">
				<img class="type" src="assets/images/like.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
			<div class="view-card">
				<img class="type" src="assets/images/sub.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
		</div>
		<div class="card">
			<img class="logo" src="assets/images/linkedin.png" alt="logo" />
			<div class="view-card">
				<img class="type" src="assets/images/eye.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
			<div class="view-card">
				<img class="type" src="assets/images/like.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
			<div class="view-card">
				<img class="type" src="assets/images/sub.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
		</div>
		<div class="card">
			<img class="logo" src="assets/images/instagram.png" alt="logo" />
			<div class="view-card">
				<img class="type" src="assets/images/eye.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
			<div class="view-card">
				<img class="type" src="assets/images/like.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
			<div class="view-card">
				<img class="type" src="assets/images/sub.png" alt="logo" />
				<p>+{{ randomNumber() }}</p>
			</div>
		</div>
	</div>
</div>
