.global-container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.case {
	flex: 1 0 14%;

	height: auto;
	width: 100%;

	margin-left: -1px;
	margin-top: -1px;

	border: 1px solid rgba(133, 133, 133, 0.616);
}

.day-case {
	height: 100%;
	width: 100%;
}

.number-day {
	position: absolute;
	margin: 10px;

	font-weight: bold;

	color: rgb(129, 129, 129);
}

.before {
	background-color: #f3ffd6;
}
