<div class="global-container">
	<img class="logo" src="assets/images/logo.png" alt="logo" />
	<img class="button" src="assets/images/dashboard2.png" routerLink="/dashboard" routerLinkActive="selected-button" [routerLinkActiveOptions]="{ exact: true }" alt="bouton du dashboard " />
	<img class="button" src="assets/images/send.png" routerLink="/send" routerLinkActive="selected-button" [routerLinkActiveOptions]="{ exact: true }" alt="bouton d'envois" />
	<img class="button" src="assets/images/calendar.png" routerLink="/calendar" routerLinkActive="selected-button" [routerLinkActiveOptions]="{ exact: true }" alt="bouton du calendrier" />
	<img class="button btn-logout" src="assets/images/logout.png" alt="bouton de deconnexion" (click)="logout()" />
</div>
